
<div>

<table>
  <tr>
    <th> Stock </th>
    <th> Ticker </th>
    <th> Balance </th>
    <th> Option </th>
  </tr>
  <% @stocks.select{|stock| stock.persisted? && stock.balance != 0}.each do |stock| %>
    <tr>
      <td> <%= $stock_data[stock.symbol][:name] %> </td>
      <td> <%= stock.symbol %> </td>
      <td> <%= stock.balance %> </td>
      <td> <%= link_to "Trade", new_trader_user_transaction_path(current_user, inpsymbol: stock.symbol)%> </td>
    </tr>
  <% end %>
  <% if @stocks.select{|stock| stock.persisted? && stock.balance != 0}.length == 0 %>
    <%= link_to "Please purchase a stock first", trader_user_path(current_user)  %>
  <% end %>
</table>
</div>