<div class="py-16 mx-auto">

<h1> New Transaction </h1>

<%= form_with model: [:trader, current_user, current_user.transactions.build] do |form| %>
  <div>
    <label>Stock Symbol: </label>
    <%= form.text_field :symbol, value: @symbol, disabled: true %>
    <h4>Stock Name: <%= $stock_data[@symbol][:name] %> </h4>
    <h4>Price: <%= $stock_data[@symbol][:price] %> USD</h4>
    <h4> Current stock balance: <%= @stock.balance %> </h4>
  </div>
  <br>
  <%= form.submit %>

<% end %>



</div>