<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Stock Trading App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>

    <nav class="flex items-center justify-between px-6 py-3 bg-black text-white">

      <div class="flex flex-col">
        <span class="text-2xl font-bold">Stock Pro</span>
        <div class="text-sm text-gray-400">
          <span><%= current_user.email %></span> |
          <span>Balance: $<%= current_user.usd_balance.round(2) %></span>
        </div>
      </div>

      <div class="flex items-center space-x-4 text-sm">
        <%= link_to "Trade", trader_user_path(current_user), class: "hover:text-gray-300" %>
        <%= link_to "Stocks", trader_user_stocks_path(current_user), class: "hover:text-gray-300" %>
        <%= link_to "Transactions", trader_user_transactions_path(current_user), class: "hover:text-gray-300" %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete,
            class: "text-red-400 hover:text-red-300 bg-transparent p-0 border-none" %>
      </div>
    </nav>

    <p class="notice flex flex-col text-center font-black-500 text-base font-medium mx-auto bg-green-100"><%= notice %></p>
    <p class="alert flex flex-col text-center font-black-500 text-base font-medium mx-auto bg-red-100"><%= alert %></p>

      
    <main class="max-w-6xl mx-auto mt-28 px-6 py-6 bg-white/5 text-black rounded-xl shadow-lg">
      <%= yield %>
    </main>
  </body>
</html>
